gradle.properties \n.editorconfig \n.env.example \n.gitlab-ci.yml \nazure-pipelines-release.yml \nazure-pipelines-sdk.yml \nazure-pipelines.yml \nbuild.gradle \ngradle.properties.yml \ngradlew \ngradlew.bat \nsettings.gradle \nbuild-pipelines.yml'
